<title>All users</title>

<% if current_user.admin? %>
<h1>All users</h1>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      <br>Posted: <%=user.trips.count%> Trips
      <br>Joined: <%=user.trips.count%> Trips
    </li>
  <% end %>
</ul>
<% else %>
<h1>Sorry, you cannot see other users information.</h1>
<% end %>
