<title>All users</title>

<% if current_user.admin? %>
<h1>All users</h1>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <div class="border-form-div">
        <h2><%= link_to user.name, user %></h2>
        <p><br>Posted: <%=user.trips.count%> Trips</p>
        <% @membership = Membership.where(user_id:user.id)%>
        <p><br>Joined: <%=@membership.count%> Trips</p>
        <p><br><%= link_to 'Settings', edit_user_registration_path %></p>
      </div>
    </li>
  <% end %>
</ul>
<% else %>
<h1>Sorry, you cannot see other users information.</h1>
<% end %>
